# Misc
requests
loguru
alembic
sqlalchemy
alembic
pymysql
psycopg2-binary
python-dotenv

# In case I decide go fastapi
fastapi
sqlmodel

# Cli
click

# API
uvicorn
fastapi

ddtrace


# Routes
herepy

# Telegram
python-telegram-bot

# Scrappers
beautifulsoup4
python-dateutil
nums-from-string

# Daft
https://github.com/AnthonyBloomer/daftlistings/archive/master.zip
git+https://github.com/madpin/scg-here-public-transit-api.git@main#egg=here-public-transit-api
herepy